schema_class Nike::DB::Schema
 
# connection string
<connect_info>
    dsn     dbi:Pg:dbname=nike;host=localhost 
    user    nike_admin 
    pass    XXXXXXXXXX 
</connect_info>
 
# dbic loader options
<loader_options>
    dump_directory ./lib
</loader_options>
